---
title: Talvipyöräilykysely avataan 1.11
---

<div class="lander" style="background-image: url('images/16_Ylamaki.jpg');">
  <div class="lander-content">
  <h1>Talvi&shy;pyöräily&shy;kysely</h1>
    Tähän avataan talvipyöräilykysely 1. marraskuuta
  </div>

  <div class="credits">Kuva: Jouko Vatanen</div>

  <div class="helsinki-branding--seal">
    <%= image_tag "helsinki-seal-pos.svg" %>
  </div>
  <div class="helsinki-branding--text">
    <p>Helsingin Kaupunki</p>
    <p><a href="http://hel.fi">hel.fi</a></p>
  </div>
</div>
